[submodule "includes"]
	path = includes
	url = https://github.com/ojalaquellueva/includes.git
[submodule "api/php_utilities"]
	path = api/php_utilities
	url = https://github.com/ojalaquellueva/php_utilities.git
