<?php

///////////////////////////////////////////////
// Read-only database config fie for CDS
///////////////////////////////////////////////

$HOST = '<host ip, domain name, or localhost>';
$USER_R = '<read-only user>';	// Read-only user
$USER_W = '<write-access user>';		// Write-access user
$DB = '<db name (i.e., gnrs)>';

$PWD_USER_W="<write-access user password>";

?>